# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.sublime*

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/
